[Unit]
Description=Start OpenShift Local/CRC after host boot
Documentation=https://crc.dev/docs/
After=default.target crc-http.socket crc-vsock.socket
Wants=crc-http.socket crc-vsock.socket
StartLimitIntervalSec=900
StartLimitBurst=10

[Service]
Type=oneshot
ExecStart={{ crc_autostart_script_path }}
TimeoutStartSec={{ crc_async_timeout_seconds }}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
